.calendar {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  padding: 2rem;
}

.calendar > h1 {
  color: #f66e04;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f66e04;
  color: white;
  border-radius: 8px 8px 0 0;
}

.icon {
  cursor: pointer;
}

.days {
  display: flex;
  background-color: #e5f1ff;
  font-weight: bold;
}

.body {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.col {
  width: 14.2857%; /* 100% / 7 */
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  cursor: pointer;
}

.cell {
  background-color: #0471f6;
  border: 1px solid #ddd;
}

.cell.selected {
  background-color: #2196f3;
  color: white;
}

.cell.disabled {
  background-color: #f9f9f9;
  color: #ddd;
}

.number {
  font-size: 16px;
}
