.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: rgb(253, 253, 253);
  padding-top: 20px;
  transition: 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.visible {
  left: 0;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar-link {
  color: #0471f6;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s;
}

.sidebar-link:hover {
  background-color: #0471f6;
  color: white;
}

.sidebar-link .icon {
  margin-right: 10px;
  font-size: 1.2em; /* Adjust size as needed */
}

.stickybar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #222;
  color: white;
  padding: 10px 20px;
  z-index: 999;
}

.stickybarContent {
  display: flex;
  align-items: center;
}

.stickybar-icon {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.content {
  margin-top: 60px;
  padding: 20px;
}
